@model IEnumerable<BetSquad.Infrastructure.DTO.GameDTO>

@{
    ViewData["Title"] = "Games";
}

<h2>All Games</h2>
<td>
    @Html.ActionLink("Create New", "AddGame", new { /* gameId = item.Id */})
</td>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team1.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team2.Name)
            </th>
            <th>
                Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                Result
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2.Name)
            </td>
            <td>
                @item.GetGameDetails()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result_str)
            </td>
            <td>
                @Html.ActionLink("Set Result", "SetResult", new { gameId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
